
<h1 id="header" class="col-12">
  welcom to elmenus admin panel
</h1>

<div class="alert alert-danger mt-5">
  <h4>Don't share your email or password with anyone this is a classified information, and Logout at the end of each day</h4>
  <h6>In case of any problem using the site please report to the IT department</h6>
</div>


  <!-- <section id="nav" class="row justify-content-around mb-3 mt-sm-3">
    <nav class="ml-4 col-md-5 mt-2 border-none">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-menu" role="tab" aria-controls="nav-home" (click)="showMenu()" aria-selected="true">Menu</a>
          <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-profile" (click)="showAbout()" aria-selected="false">About</a>
          <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-Branches" role="tab" aria-controls="nav-contact" (click)="showBranches()"  aria-selected="false">Branchs</a>
          <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-review" role="tab" aria-controls="nav-contact" (click)="showReviews()"  aria-selected="false">Reviews</a>
        </div>
   </nav>  -->



<!-- </section>  -->


